.black {
  text-align: center;
  margin-top: 250px;
  font-size: 80px;
}


.green {
  color: limegreen;
}

.red {
  color: red;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;

}

.passed {

}
